<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>Document</title>
</head>

<body>
  <div>
    <h1>선생님</h1>
  </div>

  <div>
    <div id='welcome'>
      <h1>채팅방 들어가기</h1>
      <form action="">
        <input type="text" name="room_name" placeholder="방이름">
        <button type="submit" id="enter_btn">입장</button>
      </form>
    </div>

    <div id='byebye'>
      <h1>채팅방 나가기</h1>
      <form action="">
        <input type="text" name="room_name" placeholder="방이름">
        <button type="submit" id="leave_btn">퇴장</button>
      </form>
    </div>

    <div id='chatRoom'>
      <h1>chatRoom</h1>
      <h3></h3>
      <ul></ul>
      <form action="" id="nickname">
        <input type="text" name="nick" placeholder="nickName">
        <button type="submit" id="nick_btn">설정</button>
        <label for="" id="nick_label">닉네임 설정 필요</label>
      </form>
      <form action="" id="message">
        <input type="text" name="message" placeholder="message">
        <button type="submit" id="send_btn">보내기</button>
      </form>
    </div>


    <div id='searchRoom'>
      <h1>방찾기</h1>
      <form action="">
        <button type="submit" id="searchRoom_btn">방찾기</button>
      </form>
    </div>

    <div id='searchStudent'>
      <h1>접속 학생 찾기</h1>
      <form action="">
        <button type="submit" id="searchStudent_btn">학생목록</button>
      </form>
    </div>
    
    <a href="https://www.google.com/">구글</a>
  </div>

  <script src="js/teacher.js"></script>
</body>
</html>